*{
    margin: 0;
    padding: 0;
    outline-style: none;
    user-select: none;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background-image: url("Pictures/caption6.jpg");
    background-size: 100%;
}
.Frame{
    position: relative;
    top: 20px;
    width: 1000px;
    height: 710px;
    border: 1px solid black;
    border-radius: 20px;
    background: white;
    opacity: 95%;
    -moz-box-shadow:0 0 30px black;
    -webkit-box-shadow:0 0 30px black;
    box-shadow:0 0 30px black;
    /*background-image: url("Pictures/table_bg.jpg");*/
    background-size: 100%;
}
.table{
    position: relative;
    left: 10px;
    top: -80px;
    display: block;
    float: left;
    position: relative;
    width: 200px;
    height: 180px;
    border: 3px solid black;
    border-radius: 20px;
    background-image: url("Pictures/table2.jpg");
    background-size: 100%;
    box-sizing: border-box;
    margin-left: 35px;
    margin-top: 40px;
}

.table:hover{
    transform: scale(1.1);
    -moz-box-shadow:0 0 30px black;
    -webkit-box-shadow:0 0 30px black;
    box-shadow:0 0 30px black;
    border: 5px solid red;
}
font{
    width: 100%;
    height: 100%;
    font-size: 120px;
    color: black;
    -webkit-text-stroke: 2px white;
}
.footFont{
    float: left;
    border-radius: 20px;
    height: 60px;
    border: 1px;
    position: relative;
    top: -80px;
    font-size: 40px;
    color: black;
    -webkit-text-stroke: 0;
}
a{
    text-decoration: none;
}